![image](https://user-images.githubusercontent.com/57321948/196933065-4b16c235-f3b9-4391-9cfe-4affcec87c35.png)

# Business Analytics

## 7 August 2021

## Statistics

In [1]:
list1 = [171,
172,
171,
188,
160,
154,
122,
190,
152,
188]

In [2]:
import pandas as pd

#df = pd.read_csv('filename.csv')

In [3]:
df = pd.DataFrame(list1)

In [4]:
df

     0
0  171
1  172
2  171
3  188
4  160
5  154
6  122
7  190
8  152
9  188

In [5]:
df.skew()

0   -0.968063
dtype: float64

In [6]:
df.kurt()

0    1.139524
dtype: float64